[submodule "SlabAlloc"]
	path = SlabAlloc
	url = git@github.com:KevinJudeConcessao/SlabAllocFull.git
[submodule "ThirdParty/rapidjson"]
	path = ThirdParty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest
